body {
    direction: rtl;
    background-image: url('https://imageproxy.wolt.com/mes-image/f470a324-563a-444f-b372-0e861ad566d5/39c92693-23f2-495a-83d3-19b371e2efdb');
    background-size: cover;
    background-attachment: fixed;
    
}